body {
    background-color: teal;
}

ul {
    list-style: none;
}

li {
    font-size: 1.2rem;
    font-weight: 500;
    color: aquamarine;
    margin: 5px;
    font-family: 'Chivo Mono', monospace;
}

li i {
    color: whitesmoke;
}

li h1 {
    text-align: left;
    color: lime;
    font-family: 'Anton', sans-serif;
}