body{
    background-color: teal;
}

ul{
    list-style: none;
}

li{
    color: whitesmoke;
    margin: 5px;
    font-family: 'Chivo Mono', monospace;
}

li h1{
    color: chartreuse;
    font-family: 'Anton', sans-serif;
}